---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../components/Apparence.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href="/assets/favicon.png" />
		<meta name="theme-color" content="#0B051E" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />

		<meta property="og:title" content={title} />
		<meta property="og:site_name" content="Lucas Lacroix" />
		<meta property="author" content="Lucas Lacroix" />
		<meta property="og:type" content="Portfolio" />
		<meta property="og:description" content={description} />
		<meta property="og:locale" content="fr_FR" />
		<meta property="og:url" content="https://lucaslacroix.com/" />
		<meta property="og:image" content="https://lucaslacroix.com/assets/og-icon.png" />
				
	</head>
	<body>
		<a id="skip-main" href="#contenu"> Aller au contenu</a>
		<Header />
		<main id="contenu">
			<slot />
		</main>
		<Footer />
	</body>
</html>
